@model FamilyBudgetCalculator.Models.Type

<h2>Название категории</h2>
<form asp-action="CreateType" asp-controller="home">
    <p>
        <label asp-for="TypeName">Название категории</label><br />
        <input type="text" asp-for="TypeName" />
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>