@model FamilyBudgetCalculator.Models.IndexViewModel

<h2>Список Трансакций</h2>
<p><a asp-action="CreateTransactionPage">Добавить трансакцию</a></p>
<table class="table">
    <tr><th>Сумма</th><th>Тип</th><th>Категория</th><th>Время</th></tr>
    @foreach (var item in Model.Transactions)
    {
        <tr>
            <td>@item.TransactionAmount</td>
            <td>@Model.Types.FirstOrDefault(p => p.TypeID == item.TransactionTypeID).TypeName</td>
            <td>@Model.Categories.FirstOrDefault(p => p.CategoryID == item.TransactionCategoryID).CategoryName</td>
            <td>@item.TransactionTime</td>
        </tr>
    }
    </table>
