@{
    ViewData["Title"] = "Home Page";
}
@model FamilyBudgetCalculator.Models.IndexViewModel
<div class="calculator_container">
    <div class="calculator_sidebar">
        <button>ds</button>
        <nav class="navbar-nav-scroll">

        </nav>
    </div>
    <div class="calculator_main">Main</div>
    <div class="calculator_transactions">
        Transactions
        <p><a asp-action="CreateUser">Добавить пользователя</a></p>
        <table border="1">
            <tr>
                <th>Value</th>
                <th>Type</th>
                <th>Category</th>
                <th>Time</th>
            </tr>
            <tr>
                @foreach (var item in Model.Transactions.Where(p => p.TransactionUserID == Model.currentlySelectedUserID))
                {
                <tr>
                    <td>@item.TransactionAmount</td>
                    <td>@Model.Types.FirstOrDefault(p => p.TypeID == item.TransactionTypeID).TypeName</td>
                    <td>@Model.Categories.FirstOrDefault(p => p.CategoryID == item.TransactionCategoryID).CategoryName</td>
                    <td>@item.TransactionTime</td>
                </tr>
                }
            </tr>
        </table>
    </div>
</div>

