@model IEnumerable<FamilyBudgetCalculator.Models.User>

<h2>Список пользователей</h2>
<p><a asp-action="CreateUser">Добавить пользователя</a></p>
<table class="table">
    <tr><th>Имя</th><th>Возраст</th><th></th><th></th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserName</td>
            <td>
                <a asp-action="EditUser" asp-controller="Home" asp-route-id="@item.UserID">Изменить</a>
            </td>
            <td>
                <form asp-action="DeleteUser" asp-controller="Home" method="post" asp-route-id="@item.UserID">
                    <input type="submit" value="Удалить" />
                </form>
            </td>
        </tr>
    }
